{% extends 'base.html' %}

{% block content %}
<!--welcome container-->
	<div class="container-fluid text-center mb-2 px-2 py-5" style="background-color:#ECEEEE;">
		<h1 class="display-3">
			Welcome to eSKO!
		</h1>
		<hr class="my-3 mx-5">
		<button class="btn btn-lg bgyellow text-nowrap" type="button" data-bs-toggle="modal" data-bs-target="#createPostModal">Create Post</button>
	</div>

	<!--categories container-->
	<div class="container-fluid px-3 py-5">
		<h1 class="display-6 text-center">Categories</h1>
		<p class="text-center pb-3">What kind of posts can I find in eSKO?</p>
		<div class="row">
			<div class="col rounded-3 mx-2 px-3 py-3" style="color:white; background-color:#A10618;">
				<h1 class="display-5">
					Sell
				</h1>
				<p>Insert explanation here...</p>
			</div>
			<div class="col rounded-3 mx-2 px-3 py-3" style="color:white; background-color:#389DA1;">
				<h1 class="display-5">
					Services
				</h1>
				<p>Insert explanation here...</p>
			</div>
			<div class="col rounded-3 mx-2 px-3 py-3" style="color:white; background-color:#435570;">
				<h1 class="display-5">
					Swap
				</h1>
				<p>Insert explanation here...</p>
			</div>
			<div class="col rounded-3 mx-2 px-3 py-3" style="color:white; background-color:#EFBA34;">
				<h1 class="display-5">
					Find
				</h1>
				<p>Insert explanation here...</p>
			</div>
		</div>
	</div>

	<!--timeline container-->
	<div class="container-fluid px-5 py-5" style="background-color:#ECEEEE;">
		<div class="row px-4">
			<h1 class="display-6">Posts</h1>
		</div>
		<div class="row px-4"><hr class="mx-auto"></div>
		<!--timeline posts-->
		<div class="row px-5 pl-5 pt-1 pb-3">
			<div class="row pb-2">
				<div class="col-auto ms-auto">
					<div class="dropdown">
						<button class="btn btn-light dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-funnel-fill" style="color:#909911;"></i>
							Filter
						</button>
						<ul class="dropdown-menu" aria-labelledby="filterdropdownmenu">
							<li><button class="dropdown-item" type="button">All Posts</button></li>
							<li><button class="dropdown-item" type="button">Sell</button></li>
							<li><button class="dropdown-item" type="button">Services</button></li>
							<li><button class="dropdown-item" type="button">Swap</button></li>
							<li><button class="dropdown-item" type="button">Find</button></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mx-auto py-2">
				<!--individual posts-->
				<div class="card py-3">
					<!--profile picture, username, category-->
					<div class="row px-3 py-1">
						<div class="col-auto px-0">
							<img src="/static/landing_image.jpg" class="rounded-circle" style="width:30px">
						</div>
						<div class="col-auto me-auto">
							<h5 class="card-title">username</h5>
						</div>
						<div class="col-auto">
							<button type="button" class="btn btn-sm btn-secondary">Category</button>
							<button type="button" class="btn btn-sm btn-light ms-2" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
							<ul class="dropdown-menu" aria-labelledby="filterdropdownmenu">
								<li><button class="dropdown-item" type="button">Report</button></li>
								<!-- if own post -->
								<li><button class="dropdown-item" type="button">Delete</button></li>
								<li><button class="dropdown-item" type="button">Edit</button></li>
							</ul>
						</div>
					</div>
					<!--content-->
					<div class="row px-4 py-1">
						<p class="card-text">Insert listing description here</p>
					</div>
					<!--replies, likes-->
					<div class="row px-3 py-1">
						<div class="col-auto me-auto">
							<button type="button" class="btn" style="background:white; font-size:1.1rem; color:#909911;"><i class="bi bi-reply-fill"></i>Replies</button>
						</div>
						<div class="col-auto">
							<button type="button" class="btn" style="background:white; font-size:1.1rem; color:#909911;"><i class="bi bi-heart-fill"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
